<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center mt-5">

    <div class="col-6">
      <%= form_with do |form| %>
        <div class="input-group">
          <%= form.file_field :file, class: "form-control" %>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>


</div>