<%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
  <div class="mt-5 d-flex flex-column gap-3">

    <%= form.text_area :content, class: "form-control", placeholder: I18n.t("comment"), rows: 3 %>
    <%= form.submit I18n.t("submit.save"), class: "btn btn-primary" %>
  </div>
<% end %>