<%= render "shared/header" %>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-4 mt-5">
      <%= form_with url: passwords_path, scope: :user do |form| %>
        <div class="d-flex flex-column gap-2">
          <%= form.email_field :email, class: "form-control", placeholder: "email" %>
          <%= form.submit "Reset password", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
