<%= form_with model: @post  do |form| %>
  <div class="d-flex flex-column gap-3">
    <%= form.text_field :title, class: "form-control", placeholder: "title"%>

    <%= form.text_area :content, class: "form-control", placeholder: "Lorem ipsum...", rows: 20 %>

    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>