<%= render "shared/header" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "tags/index" %>
      <%= render "tags/form" %>

      <%= render "posts/form" %>
    </div>
  </div>
</div>